.THIS {
    margin-left:45px;
    margin-top:45px;
    width:400px;
    background-color: #FFFFCC;
    border-style: solid;
    border-width: 1px;
    padding: 10px
}
.THIS .mbutton {
	padding: 10px;
}

.THIS .bold {
	font-weight: bold;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.THIS.blue {
	background-color: #66CCFF;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 2px
}

